@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  
  font-family: 'Poppins', sans-serif;
}
 
header{
  background:#0068ea;
  padding:10px 0;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 5px 20px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 5px 20px 0px rgba(50, 50, 50, 0.5);
}
.boxshadow {
    margin: 70px 0;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.5);
    border: 3px solid #e9eaec;
    border-radius: 10px;
    width: 95%;
    margin: 30px auto;
    padding: 0px 30px 0px 60px;
}

.logo_img img {
    width: 55%;
}
.logo_img img{
   
}
.menu_here{}
ul#manu{
  margin:0;
  padding:0;
  list-style:none;
}
ul#manu li{}
ul#manu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    float: right;
    line-height: 65px;
}
 
 
.upload_img {
    position: absolute;
    right: -17px;
    margin-top: 75px;
}
.upload_img img{
  width:100%;
}

.col-md-3.space{
  margin:0;
  padding:0;
}

.form_title h2 {
    color: #0068ea;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
}
 p {
    color: #778291;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
}

.years h3 {
    color: #778291;
    font-weight: 500;
    font-size: 18px;
     line-height:0px;
}
.myfiler h3 {
    color: #778291;
    font-weight: 500;
    font-size: 18px;
  
}
.disclaimer {
    text-align: center;
    padding-top: 40px;
}

.myfiler span{
  color:#0068ea;
}

.rights {
    width: 50%;
    float: left;
}

.lefts {
    width: 50%;
    float: left;
}
.book_list input {
    width: 90%;
    border: 1px solid #ecedef;
    line-height: 35px;
    border-radius: 10px;
    margin-bottom: 20px;
}
select#sel {
    border: 1px solid #ecedef;
    width: 44px;
    font-size: 16px;
    padding: 1px 0;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
    padding-left: 15px;
  border-radius: 5px;
  font-weight:500;
 }
.years {
    float: right;
    text-align: left;
    width: 80%;
}

.myfile {
    padding-top: 15px;
}
.myfiler {
    padding-top: 20px;
}
 
button.btn-hidden {
  display:none;
}
 
button.btn-upload {
    width: 45%;
    background: #0068ea;
    border: 0px solid;
    line-height: 45px;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
 .upload_button {
    overflow: hidden;
    width: 100%;
    padding-top: 25px;
}
.btn.btn-default.image-preview-input {
    background: #0068ea;
    height: 40px;
    width: 80px;
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
 span.image-preview-input-title img {
    background-size: contain;
    width: 35px;
    height: auto;
}
 input.form-control.image-preview-filename {
    padding-left: 19px;
    padding-right: 19px;
}
 input.form-control.image-preview-filename {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
input.vertical {
  margin-top: 70px;
  margin-bottom: 40px;
}
form#demo span {
    display: none;
}
input[type=range].vertical {
  -webkit-appearance: none;
  background-color: #0099FF;
  width: 150px;
  height: 4px;
  /*margin-top: 100px;*/
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 0;
}
input[type=range] {
    -webkit-appearance: none;
    background-color: #0068ea;
    height: 4px;
    width: 93%;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}
 input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 background-color: #0068ea;
 border: none;
 height: 30px;
 width: 30px;
 border-radius: 50%;
 opacity: 1;
}

input[type=range]:focus { outline: none; }

input[type=range]:hover { background: #0068ea; }

input:not([type=range]){
    outline: none;
    outline: 0;
    padding-left: 15px;
    padding-right: 15px;
}
input:not([type="submit"]):focus,
textarea:focus,
.form-control:focus {
    outline: none;
    outline: 0;
    border-color: #0068ea;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="file"] {
    overflow: hidden;
}

input[name="upload"] {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 40px;
}

.myfile input {min-height: 40px;}

.upload-label {
    outline: none;
    outline: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    outline: 0;
    height: 34px;
    border-color: #0068ea;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

label {
    color: #778291;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    display: block;
}

select {
    width: 90%;
    border: 1px solid #ecedef;
    line-height: 35px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    outline: 0;
}

select:focus,
select:active {
    outline: none;
    outline: 0;
    border-color: #0068ea;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

option,
select:focus option,
select:active option {
    outline: none;
    outline: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

option:focus,
option:active {
    outline: none;
    outline: 0;
    border-color: #0068ea;
}

.btn:hover {
    color: white;
    outline: none;
    outline: 0;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    color: white;
    outline: none;
    outline: 0;
}
 
.btn.btn-default.image-preview-input {
    background: #0068ea;
    height: 40px;
    width: 80px;
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 35px;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
  margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #0068ea;    
}

.image-preview-input:hover,
.image-preview-input:focus {
    border-color: #0068ea;
}

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  border-color: #0068ea;
}
.image-preview-input-title {
    margin-left:2px;
}


.disclaimer {
    text-align: center;
    padding-top: 20px;
}
.disclaimer p{
    font-size:12px;
  line-height:20px;
}

.form_title span {
    background: #0068ea;
    display: block;
    width: 50px;
    height: 2px;
    margin-bottom: 8px;
}


.slicknav_menu {
    display: none;
}

#body_area{
  position:relative;
}
.boxshadow{
  position:relative;
}
.border_img img {
    width: 72%;
}
.border_img {
    position: absolute;
    left: 0;
    top: 0
;    height: 300px !important;
    width: 20px !important;
    background-size: contain;
}
 

/* additions after fiverr */

header a {
    color: white;
}

.logo img {
    display: inline-block;
    max-width: 100px;
}

.logo span{
    font-size: 28px;
}

main {
    max-width: 100vw;
    overflow-x: hidden;
}

[class^="navbar"] {
    border:none;
}
.navbar {
    background-color: #0267ea;
}

[class^="navbar"] [class^="navbar"]  li > a {
    color: white;
}

.nav a {
    text-transform: uppercase;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-collapse {
    box-shadow: none
}

.navbar {
    margin: 0;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    outline: none;
    outline: 0;
}

header a:hover, header a:focus {
    color: white;
    text-decoration: none;
}