.upload-section {
  margin-top: 20px;
}

.retention-wrapper,
.file-select-wrapper,
.broker-select-wrapper {
  display: flex;
}

.upload-column {
  flex: 1;
  padding-right: 10px;
}

div.Select-control {
  border-radius: 10px;
  border: 1px solid #ecedef;
}

select#sel {
  border: 1px solid #ecedef;
  width: 44px;
  font-size: 16px;
  padding: 1px 0;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
  border-radius: 5px;
  font-weight: 500;
}

button.btn {
  border-radius: 4px;
  padding: 0.5em 3em;
  text-transform: uppercase;
  height: auto;
  font-size: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: solid;
}

button.btn:hover,
button.btn:focus {
  -webkit-box-shadow: 0px 0px 20px -3px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 20px -3px rgba(50, 50, 50, 0.5);
  outline: 0;
  outline: none;
  border-style: solid;
}

button.btn-hidden {
  display: none;
}

.btn-primary {
  color: white;
  background: #0068ea;
  border-color: #0068ea;
}

.btn-primary:hover {
  color: #fff;
  background: #0068ea;
  border-color: #0068ea;
}

button.btn-upload {
  width: 45%;
  background: #0068ea;
  border: 0px solid;
  line-height: 45px;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

select:disabled {
  cursor: not-allowed;
}

.upload_button {
  overflow: hidden;
  width: 100%;
  padding-top: 25px;
}
.btn.btn-default.image-preview-input {
  background: #0068ea;
  height: 40px;
  width: 80px;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
span.image-preview-input-title img {
  background-size: contain;
  width: 35px;
  height: auto;
}
input.form-control.image-preview-filename {
  padding-left: 19px;
  padding-right: 19px;
}
input.form-control.image-preview-filename {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
input.vertical {
  margin-top: 70px;
  margin-bottom: 40px;
}
form#demo span {
  display: none;
}
input[type="range"].vertical {
  -webkit-appearance: none;
  background-color: #0099ff;
  width: 150px;
  height: 4px;
  /*margin-top: 100px;*/
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 0;
}
input[type="range"] {
  -webkit-appearance: none;
  background-color: #0068ea;
  height: 4px;
  width: 93%;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #0068ea;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  opacity: 1;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:hover {
  background: #0068ea;
}

input:not([type="range"]) {
  outline: none;
  outline: 0;
  padding-left: 15px;
  padding-right: 15px;
}
input:not([type="submit"]):focus,
textarea:focus,
.form-control:focus {
  outline: none;
  outline: 0;
  border-color: #0068ea;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type="file"] {
  overflow: hidden;
}

input[name="upload"] {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 40px;
}

.myfile input {
  min-height: 40px;
}

.upload-label {
  outline: none;
  outline: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  outline: 0;
  height: 34px;
  border-color: #0068ea;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

label {
  color: #778291;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  display: block;
}

select {
  width: 90%;
  border: 1px solid #ecedef;
  line-height: 35px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  outline: 0;
}

select:focus,
select:active {
  outline: none;
  outline: 0;
  border-color: #0068ea;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

option,
select:focus option,
select:active option {
  outline: none;
  outline: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

option:focus,
option:active {
  outline: none;
  outline: 0;
  border-color: #0068ea;
}

.btn:hover {
  color: white;
  outline: none;
  outline: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  color: white;
  outline: none;
  outline: 0;
}

.btn.btn-default.image-preview-input {
  background: #0068ea;
  height: 40px;
  width: 80px;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 35px;
}

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #0068ea;
}

.image-preview-input:hover,
.image-preview-input:focus {
  border-color: #0068ea;
}

.image-preview-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  border-color: #0068ea;
}
.image-preview-input-title {
  margin-left: 2px;
}

.slicknav_menu {
  display: none;
}

#body_area {
  position: relative;
}

.border_img img {
  width: 72%;
}
.border_img {
  position: absolute;
  left: 0;
  top: 0;
  height: 300px !important;
  width: 20px !important;
  background-size: contain;
}

/* additions after fiverr */

header a {
  color: white;
}

.logo img {
  display: inline-block;
  max-width: 100px;
}

main {
  max-width: 100vw;
  overflow-x: hidden;
}

[class^="navbar"] {
  border: none;
}
.navbar {
  background-color: #0267ea;
}

[class^="navbar"] [class^="navbar"] li > a {
  color: white;
}

.nav a {
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

.navbar-collapse {
  box-shadow: none;
}

.navbar {
  margin: 0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  outline: none;
  outline: 0;
}

.navbar-toggle {
  display: none;
}

header a:hover,
header a:focus {
  color: white;
  text-decoration: none;
}

.slide .container {
  flex: 1;
  display: flex;
  padding-bottom: 50px;
}

.slide-body {
  flex: 0.75;
  padding: 50px;
}

/********************************

matej-01

*/

.slide-body.slide-error-body {
  flex: 1;
}

/******************************/

.slide-custom-image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.slide-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.25;
}

.slide .indented-container {
  overflow: hidden;
  /*padding: 50px 0 50px 50px;*/
  border-right: none;
}

.bordered {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-left-color: #0267ea;
}

.choice-wrapper {
  overflow: hidden;
  display: flex;
  min-height: 500px;
}

.choice-section {
  flex: 1;
  display: flex;
  position: relative;
  padding-top: 185px;
  align-items: center;
  flex-direction: column;
}

.tangle-image {
  position: absolute;
  top: -60px;
}

/* .slide-tangle-image { */
/* position: absolute; */
/* top: -60px; */
/* } */

.upload-image {
  width: 100px;
  height: 100px;
}

.primary-button {
  background: #0068ea;
  width: 290px;
  border-radius: 10px;
  color: white;
  height: 60px;
  font-size: 20px;
  margin-top: 40px;
}

.primary-button:disabled {
  background: #ededed;
  color: grey;
  border: 1px solid #ededed;
}

.title-underline {
  border-color: #6ea0de;
  border-width: 4px;
  width: 40px;
  margin-left: 0;
}

.upload-progress-bar {
  margin-bottom: 10px;
  border-radius: 4px;
  width: 50%;
}

h2 {
  color: #afcbfe;
  font-size: 20px;
}

input.retention-slider,
input.retention-slider:hover,
input.retention-slider:focus {
  background: #afcbfe;
}

input.retention-slider:disabled {
  background: #dcdcdc;
  cursor: not-allowed;
}

input.retention-slider:disabled::-webkit-slider-thumb {
  background: #dcdcdc;
}

.file-input-label {
  display: flex;
}

.upload-filename {
  flex: 0.8;
  padding: 3px;
  border: 1px solid #ecedef;
  border-radius: 10px 0 0 10px;
  text-align: center;
  overflow: hidden;
}

#upload-input {
  display: none;
}

.upload-folder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background: #0068ea;
  border-radius: 0 10px 10px 0;
}

.header-logo {
  width: 50px;
  height: 50px;
}

.clipboard-button {
  background: #0068ea;
  width: 200px;
  border-radius: 10px;
  color: white;
  height: 40px;
  font-size: 14px;
}

.download-spinner {
  margin-left: 10px;
}
